---
const { title } = Astro.props
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_IN" />
    <meta name="twitter:title" content={title} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta property="title" name="title" content={title} />
    <meta name="twitter:site" content="@rishi_raj_jain_" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:title" property="og:title" content={title} />
    <meta property="referrer" name="referrer" content="unsafe-url" />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="og:url" property="og:url" content="https://ijcai-faircop-default.layer0-limelight.link" />
    <meta name="twitter:description" content="Facial Image Retrieval using Contrastive Personalization" />
    <meta property="description" name="description" content="Facial Image Retrieval using Contrastive Personalization" />
    <meta name="twitter:image" content="https://ijcai-faircop-default.layer0-limelight.link/static/social-media-card.png" />
    <meta name="og:description" property="og:description" content="Facial Image Retrieval using Contrastive Personalization" />
    <meta name="og:image" property="og:image" content="https://ijcai-faircop-default.layer0-limelight.link/static/social-media-card.png" />
  </head>
  <body class="flex flex-col items-center">
    <div class="w-full md:max-w-2xl flex flex-col items-start">
      <div class="mt-10 overflow-x-scroll sm:overflow-x-hidden sm:max-w-none flex flex-row items-center space-x-3">
        <a class="p-2 hover:bg-gray-100 hover:rounded" href="/">
          <span class="text-sm text-black hover:text-gray-700">Home</span>
        </a>
        <a class="p-2 hover:bg-gray-100 hover:rounded" href="/why">
          <span class="text-sm text-black hover:text-gray-700">Why</span>
        </a>
        <a class="p-2 hover:bg-gray-100 hover:rounded" href="/example">
          <span class="text-sm text-black hover:text-gray-700">Example</span>
        </a>
      </div>
    </div>
    <slot />
  </body>
</html>
